body
{
    background:yellow;
}

h1, h2
{
    text-align: center;
}

h1
{
    color: pink;
}

h1:hover
{
    color:blue;
}

.container
{
    justify-content: space-around;
}

div.container > div
{
    border:1px solid black;
    width:50px;
    height:50px;
    background:blue;
}